$icomoon-font-family: "Farmapremium" !default;
$icomoon-font-path: "fonts" !default;

$icon-Health: unquote('"\\ea1d"');
$icon-Calm: unquote('"\\ea17"');
$icon-Drag-handle: unquote('"\\ea18"');
$icon-Drag-indicator: unquote('"\\ea19"');
$icon-Monitoron: unquote('"\\ea1a"');
$icon-Sign: unquote('"\\ea1b"');
$icon-Stock: unquote('"\\ea1c"');
$icon-Food: unquote('"\\ea16"');
$icon-emoji_bad: unquote('"\\ea11"');
$icon-emoji_neutral: unquote('"\\ea12"');
$icon-emoji: unquote('"\\ea13"');
$icon-ia: unquote('"\\ea14"');
$icon-nextera: unquote('"\\ea15"');
$icon-youtube: unquote('"\\ea10"');
$icon-News: unquote('"\\e9fd"');
$icon-Whatsapp: unquote('"\\ea0a"');
$icon-supermarket: unquote('"\\ea0c"');
$icon-transport: unquote('"\\ea0e"');
$icon-doctor: unquote('"\\ea0f"');
$icon-laboratory: unquote('"\\ea0d"');
$icon-Qr: unquote('"\\ea0b"');
$icon-Farmapolis: unquote('"\\ea09"');
$icon-Flyer: unquote('"\\ea07"');
$icon-Poster: unquote('"\\ea08"');
$icon-Farmaoffice: unquote('"\\ea05"');
$icon-Farmapremium: unquote('"\\ea06"');
$icon-Instagram: unquote('"\\e9fe"');
$icon-Academy: unquote('"\\e9ff"');
$icon-Hand: unquote('"\\ea00"');
$icon-Hospital: unquote('"\\ea01"');
$icon-perfum: unquote('"\\ea02"');
$icon-pharmacy: unquote('"\\ea03"');
$icon-Teeth: unquote('"\\ea04"');
$icon-baby: unquote('"\\e9fb"');
$icon-Crosshair: unquote('"\\e9fc"');
$icon-fire: unquote('"\\e9fa"');
$icon-radio-button-on: unquote('"\\e9bc"');
$icon-IconOutlineeuro: unquote('"\\e9f9"');
$icon-star-fill: unquote('"\\e9f5"');
$icon-promotion: unquote('"\\e9f4"');
$icon-closesimple: unquote('"\\e9f6"');
$icon-Female: unquote('"\\e9f7"');
$icon-Male: unquote('"\\e9f8"');
$icon-activity-outline: unquote('"\\e900"');
$icon-alert-circle-outline: unquote('"\\e901"');
$icon-alert-triangle-outline: unquote('"\\e902"');
$icon-archive-outline: unquote('"\\e903"');
$icon-arrow-back-outline: unquote('"\\e904"');
$icon-arrow-circle-down-outline: unquote('"\\e905"');
$icon-arrow-circle-left-outline: unquote('"\\e906"');
$icon-arrow-circle-right-outline: unquote('"\\e907"');
$icon-arrow-circle-up-outline: unquote('"\\e908"');
$icon-arrow-down-outline: unquote('"\\e909"');
$icon-arrow-downward-outline: unquote('"\\e90a"');
$icon-arrow-forward-outline: unquote('"\\e90b"');
$icon-arrow-ios-back-outline: unquote('"\\e90c"');
$icon-arrow-ios-downward-outline: unquote('"\\e90d"');
$icon-arrow-ios-forward-outline: unquote('"\\e90e"');
$icon-arrow-ios-upward-outline: unquote('"\\e90f"');
$icon-arrow-left-outline: unquote('"\\e910"');
$icon-arrow-right-outline: unquote('"\\e911"');
$icon-arrow-up-outline: unquote('"\\e912"');
$icon-arrow-upward-outline: unquote('"\\e913"');
$icon-arrowhead-down-outline: unquote('"\\e914"');
$icon-arrowhead-left-outline: unquote('"\\e915"');
$icon-arrowhead-right-outline: unquote('"\\e916"');
$icon-arrowhead-up-outline: unquote('"\\e917"');
$icon-at-outline: unquote('"\\e918"');
$icon-attach-2-outline: unquote('"\\e919"');
$icon-attach-outline: unquote('"\\e91a"');
$icon-award-outline: unquote('"\\e91b"');
$icon-backspace-outline: unquote('"\\e91c"');
$icon-bar-chart-2-outline: unquote('"\\e91d"');
$icon-bar-chart-outline: unquote('"\\e91e"');
$icon-battery-outline: unquote('"\\e91f"');
$icon-behance-outline: unquote('"\\e920"');
$icon-bell-off-outline: unquote('"\\e921"');
$icon-bell-outline: unquote('"\\e922"');
$icon-bluetooth-outline: unquote('"\\e923"');
$icon-book-open-outline: unquote('"\\e924"');
$icon-book-outline: unquote('"\\e925"');
$icon-bookmark-outline: unquote('"\\e926"');
$icon-briefcase-outline: unquote('"\\e927"');
$icon-browser-outline: unquote('"\\e928"');
$icon-brush-outline: unquote('"\\e929"');
$icon-bulb-outline: unquote('"\\e92a"');
$icon-calendar-outline: unquote('"\\e92b"');
$icon-camera-outline: unquote('"\\e92c"');
$icon-car-outline: unquote('"\\e92d"');
$icon-cast-outline: unquote('"\\e92e"');
$icon-charging-outline: unquote('"\\e92f"');
$icon-checkmark-circle-2-outline: unquote('"\\e930"');
$icon-checkmark-circle-outline: unquote('"\\e931"');
$icon-checkmark-outline: unquote('"\\e932"');
$icon-checkmark-square-2-outline: unquote('"\\e933"');
$icon-checkmark-square-outline: unquote('"\\e934"');
$icon-chevron-down-outline: unquote('"\\e935"');
$icon-chevron-left-outline: unquote('"\\e936"');
$icon-chevron-right-outline: unquote('"\\e937"');
$icon-chevron-up-outline: unquote('"\\e938"');
$icon-clipboard-outline: unquote('"\\e939"');
$icon-clock-outline: unquote('"\\e93a"');
$icon-close-circle-outline: unquote('"\\e93b"');
$icon-close-outline: unquote('"\\e93c"');
$icon-close-square-outline: unquote('"\\e93d"');
$icon-cloud-download-outline: unquote('"\\e93e"');
$icon-cloud-upload-outline: unquote('"\\e93f"');
$icon-code-download-outline: unquote('"\\e940"');
$icon-code-outline: unquote('"\\e941"');
$icon-collapse-outline: unquote('"\\e942"');
$icon-color-palette-outline: unquote('"\\e943"');
$icon-color-picker-outline: unquote('"\\e944"');
$icon-compass-outline: unquote('"\\e945"');
$icon-copy-outline: unquote('"\\e946"');
$icon-corner-down-left-outline: unquote('"\\e947"');
$icon-corner-down-right-outline: unquote('"\\e948"');
$icon-corner-left-down-outline: unquote('"\\e949"');
$icon-corner-left-up-outline: unquote('"\\e94a"');
$icon-corner-right-down-outline: unquote('"\\e94b"');
$icon-corner-right-up-outline: unquote('"\\e94c"');
$icon-corner-up-left-outline: unquote('"\\e94d"');
$icon-corner-up-right-outline: unquote('"\\e94e"');
$icon-credit-card-outline: unquote('"\\e94f"');
$icon-crop-outline: unquote('"\\e950"');
$icon-cube-outline: unquote('"\\e951"');
$icon-diagonal-arrow-left-down-outline: unquote('"\\e952"');
$icon-diagonal-arrow-left-up-outline: unquote('"\\e953"');
$icon-diagonal-arrow-right-down-outline: unquote('"\\e954"');
$icon-diagonal-arrow-right-up-outline: unquote('"\\e955"');
$icon-done-all-outline: unquote('"\\e956"');
$icon-download-outline: unquote('"\\e957"');
$icon-droplet-off-outline: unquote('"\\e958"');
$icon-droplet-outline: unquote('"\\e959"');
$icon-edit-2-outline: unquote('"\\e95a"');
$icon-edit-outline: unquote('"\\e95b"');
$icon-email-outline: unquote('"\\e95c"');
$icon-expand-outline: unquote('"\\e95d"');
$icon-external-link-outline: unquote('"\\e95e"');
$icon-eye-off-2-outline: unquote('"\\e95f"');
$icon-eye-off-outline: unquote('"\\e960"');
$icon-eye-outline: unquote('"\\e961"');
$icon-facebook-outline: unquote('"\\e962"');
$icon-file-add-outline: unquote('"\\e963"');
$icon-file-outline: unquote('"\\e964"');
$icon-file-remove-outline: unquote('"\\e965"');
$icon-file-text-outline: unquote('"\\e966"');
$icon-film-outline: unquote('"\\e967"');
$icon-flag-outline: unquote('"\\e968"');
$icon-flash-off-outline: unquote('"\\e969"');
$icon-flash-outline: unquote('"\\e96a"');
$icon-flip-2-outline: unquote('"\\e96b"');
$icon-flip-outline: unquote('"\\e96c"');
$icon-folder-add-outline: unquote('"\\e96d"');
$icon-folder-outline: unquote('"\\e96e"');
$icon-folder-remove-outline: unquote('"\\e96f"');
$icon-funnel-outline: unquote('"\\e970"');
$icon-gift-outline: unquote('"\\e971"');
$icon-github-outline: unquote('"\\e972"');
$icon-globe-2-outline: unquote('"\\e973"');
$icon-globe-outline: unquote('"\\e974"');
$icon-google-outline: unquote('"\\e975"');
$icon-grid-outline: unquote('"\\e976"');
$icon-hard-drive-outline: unquote('"\\e977"');
$icon-hash-outline: unquote('"\\e978"');
$icon-headphones-outline: unquote('"\\e979"');
$icon-heart-outline: unquote('"\\e97a"');
$icon-home-outline: unquote('"\\e97b"');
$icon-image-outline: unquote('"\\e97c"');
$icon-inbox-outline: unquote('"\\e97d"');
$icon-info-outline: unquote('"\\e97e"');
$icon-keypad-outline: unquote('"\\e97f"');
$icon-layers-outline: unquote('"\\e980"');
$icon-layout-outline: unquote('"\\e981"');
$icon-link-2-outline: unquote('"\\e982"');
$icon-link-outline: unquote('"\\e983"');
$icon-linkedin-outline: unquote('"\\e984"');
$icon-list-outline: unquote('"\\e985"');
$icon-loader-outline: unquote('"\\e986"');
$icon-lock-outline: unquote('"\\e987"');
$icon-log-in-outline: unquote('"\\e988"');
$icon-log-out-outline: unquote('"\\e989"');
$icon-map-outline: unquote('"\\e98a"');
$icon-maximize-outline: unquote('"\\e98b"');
$icon-menu-2-outline: unquote('"\\e98c"');
$icon-menu-arrow-outline: unquote('"\\e98d"');
$icon-menu-outline: unquote('"\\e98e"');
$icon-message-circle-outline: unquote('"\\e98f"');
$icon-message-square-outline: unquote('"\\e990"');
$icon-mic-off-outline: unquote('"\\e991"');
$icon-mic-outline: unquote('"\\e992"');
$icon-minimize-outline: unquote('"\\e993"');
$icon-minus-circle-outline: unquote('"\\e994"');
$icon-minus-outline: unquote('"\\e995"');
$icon-minus-square-outline: unquote('"\\e996"');
$icon-monitor-outline: unquote('"\\e997"');
$icon-moon-outline: unquote('"\\e998"');
$icon-more-horizontal-outline: unquote('"\\e999"');
$icon-more-vertical-outline: unquote('"\\e99a"');
$icon-move-outline: unquote('"\\e99b"');
$icon-music-outline: unquote('"\\e99c"');
$icon-navigation-2-outline: unquote('"\\e99d"');
$icon-navigation-outline: unquote('"\\e99e"');
$icon-npm-outline: unquote('"\\e99f"');
$icon-options-2-outline: unquote('"\\e9a0"');
$icon-options-outline: unquote('"\\e9a1"');
$icon-pantone-outline: unquote('"\\e9a2"');
$icon-paper-plane-outline: unquote('"\\e9a3"');
$icon-pause-circle-outline: unquote('"\\e9a4"');
$icon-people-outline: unquote('"\\e9a5"');
$icon-percent-outline: unquote('"\\e9a6"');
$icon-person-add-outline: unquote('"\\e9a7"');
$icon-person-delete-outline: unquote('"\\e9a8"');
$icon-person-done-outline: unquote('"\\e9a9"');
$icon-person-outline: unquote('"\\e9aa"');
$icon-person-remove-outline: unquote('"\\e9ab"');
$icon-phone-call-outline: unquote('"\\e9ac"');
$icon-phone-missed-outline: unquote('"\\e9ad"');
$icon-phone-off-outline: unquote('"\\e9ae"');
$icon-phone-outline: unquote('"\\e9af"');
$icon-pie-chart-outline: unquote('"\\e9b0"');
$icon-pin-outline: unquote('"\\e9b1"');
$icon-play-circle-outline: unquote('"\\e9b2"');
$icon-plus-circle-outline: unquote('"\\e9b3"');
$icon-plus-outline: unquote('"\\e9b4"');
$icon-plus-square-outline: unquote('"\\e9b5"');
$icon-power-outline: unquote('"\\e9b6"');
$icon-pricetags-outline: unquote('"\\e9b7"');
$icon-printer-outline: unquote('"\\e9b8"');
$icon-question-mark-circle-outline: unquote('"\\e9b9"');
$icon-question-mark-outline: unquote('"\\e9ba"');
$icon-radio-button-off-outline: unquote('"\\e9bb"');
$icon-radio-outline: unquote('"\\e9bd"');
$icon-recording-outline: unquote('"\\e9be"');
$icon-refresh-outline: unquote('"\\e9bf"');
$icon-repeat-outline: unquote('"\\e9c0"');
$icon-rewind-left-outline: unquote('"\\e9c1"');
$icon-rewind-right-outline: unquote('"\\e9c2"');
$icon-save-outline: unquote('"\\e9c3"');
$icon-scissors-outline: unquote('"\\e9c4"');
$icon-search-outline: unquote('"\\e9c5"');
$icon-settings-2-outline: unquote('"\\e9c6"');
$icon-settings-outline: unquote('"\\e9c7"');
$icon-shake-outline: unquote('"\\e9c8"');
$icon-share-outline: unquote('"\\e9c9"');
$icon-shield-off-outline: unquote('"\\e9ca"');
$icon-shield-outline: unquote('"\\e9cb"');
$icon-shopping-bag-outline: unquote('"\\e9cc"');
$icon-shopping-cart-outline: unquote('"\\e9cd"');
$icon-shuffle-2-outline: unquote('"\\e9ce"');
$icon-shuffle-outline: unquote('"\\e9cf"');
$icon-skip-back-outline: unquote('"\\e9d0"');
$icon-skip-forward-outline: unquote('"\\e9d1"');
$icon-slash-outline: unquote('"\\e9d2"');
$icon-smartphone-outline: unquote('"\\e9d3"');
$icon-smiling-face-outline: unquote('"\\e9d4"');
$icon-speaker-outline: unquote('"\\e9d5"');
$icon-square-outline: unquote('"\\e9d6"');
$icon-star-outline: unquote('"\\e9d7"');
$icon-stop-circle-outline: unquote('"\\e9d8"');
$icon-sun-outline: unquote('"\\e9d9"');
$icon-swap-outline: unquote('"\\e9da"');
$icon-sync-outline: unquote('"\\e9db"');
$icon-text-outline: unquote('"\\e9dc"');
$icon-thermometer-minus-outline: unquote('"\\e9dd"');
$icon-thermometer-outline: unquote('"\\e9de"');
$icon-thermometer-plus-outline: unquote('"\\e9df"');
$icon-toggle-left-outline: unquote('"\\e9e0"');
$icon-toggle-right-outline: unquote('"\\e9e1"');
$icon-trash-2-outline: unquote('"\\e9e2"');
$icon-trash-outline: unquote('"\\e9e3"');
$icon-trending-down-outline: unquote('"\\e9e4"');
$icon-trending-up-outline: unquote('"\\e9e5"');
$icon-tv-outline: unquote('"\\e9e6"');
$icon-twitter-outline: unquote('"\\e9e7"');
$icon-umbrella-outline: unquote('"\\e9e8"');
$icon-undo-outline: unquote('"\\e9e9"');
$icon-unlock-outline: unquote('"\\e9ea"');
$icon-upload-outline: unquote('"\\e9eb"');
$icon-video-off-outline: unquote('"\\e9ec"');
$icon-video-outline: unquote('"\\e9ed"');
$icon-volume-down-outline: unquote('"\\e9ee"');
$icon-volume-mute-outline: unquote('"\\e9ef"');
$icon-volume-off-outline: unquote('"\\e9f0"');
$icon-volume-up-outline: unquote('"\\e9f1"');
$icon-wifi-off-outline: unquote('"\\e9f2"');
$icon-wifi-outline: unquote('"\\e9f3"');

